p, div, form, tr, td, th, table, a, section {
  padding: 0;
  margin: 0;
}

body{

}

table {
  border-spacing: 1px;
  border: 30px solid #805744;
  margin: 0 auto;
  background: #baffba;
}

td {
  width: 30px;
  height: 30px;
}

.snake {
  background: #333;
}

.fruit {
  background: url(fruit.png);
  background-color: transparent;
  background-size: contain;

}

.wall {
  background: #de7541;
}

p, .scope {
  font-family: Impact;
  text-transform: uppercase;
  font-size: 39px;
  text-align: center;
  margin-top: 25px;
  color: #333;
  animation: ease .5s anim;
}

.rec {
  font-size: 20px;
  color: #d04343;
}

@keyframes anim {
  from {
    transform: scale(0.5);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
