p, div, form, tr, td, th, table, a, section {
  padding: 0;
  margin: 0;
}

body{

}

table {
  border-spacing: 1px;
  border: 30px solid #ff5200;
  margin: 0 auto;
}

td {
  width: 30px;
  height: 30px;
  background: #fff;
}

.snake {
  background: #333;
}

.fruit {
  background: url(fruit.png);
  background-color: #fff;
  background-size: contain;

}
